<p id="notice"><%= notice %></p>

<div class="fontIcon">
  <%= link_to search_family_questions_path(current_family) do %>
    <i class="fa fa-search fa-fw fa-2x" aria-hidden="true"></i>
  <% end %>
  <!-- <a href="#"><i class="fa fa-search fa-fw fa-2x" aria-hidden="true"></i></a> -->
  <a href="#questionPostModal"><i class="fa fa-pencil-square-o fa-fw fa-2x" aria-hidden="true"></i></a>
</div>

<nav>
  <ul id="friendGeneralSwitchTabs">
    <li id="friendSelectBtn">友達</li>
    <li id="generalSelectBtn">一般</li>
  </ul>
</nav>

<div id="questionPostModal" class="modal-window">
  <div class="modal-inner">
    <%= render('shared/question_form') %>
  </div>
</div>

<div id="friendOrGeneralContents">
  <div id="friendContents">
    <div id="familyPostsView">
      <% if @questions %>
          <% @questions.each do |q| %>
              <div class="familyPost">
                  <% if (q.friend_open && current_family.has_family_relationship?(q.family)) || current_family == q.family %>
                      <%= render 'questions/question', question: q %>
                  <% end %>
              </div>
          <% end %>
          <%= paginate @questions %>
      <% end %>
    </div>
  </div>

  <div id="generalContents">
    <%= image_tag("qa-general.png") %>
    <!-- <% if @questions %>
        <% @questions.each do |q| %>
            <div class="familyPost">
              <% if q.general_open %>
                  <%= render 'questions/question', question: q %>
              <% end %>
            </div>
        <% end %>
        <%= paginate @questions %>
    <% end %> -->
  </div>
</div>
