<p id="notice"><%= notice %></p>
<%= search_form_for @q, url: search_family_questions_path(current_family) do |f| %>
    <%# 関連の名前で検索 Product.carrier.name %>
    <%= f.text_field :content_cont ,placeholder: '検索テキストを入力...', :class => 'form-control textField' %>
    <br />

    <%# 検索ボタン %>
    <%= f.submit %>
<% end %>

<h1>Listing questions</h1>

<nav>
  <ul id="friendGeneralSwitchTabs">
    <li id="friendSelectBtn">友達 | </li>
    <li id="generalSelectBtn">一般</li>
  </ul>
</nav>

<div id="friendOrGeneralContents">
  <h2>Friend</h2>
  <div id="familyPostsView">
    <% if @questions %>
        <% @questions.each do |q| %>
            <div class="familyPost">
              <%= render 'questions/question', question: q %>
            </div>
        <% end %>
        <%= paginate @questions %>
    <% end %>
  </div>

  <div id="generalContents">
    <h2>General</h2>
  </div>
</div>

<table>
  <thead>
  <tr>
    <th>質問内容</th>
  </tr>
  </thead>

  <tbody>
  <% @search_questions.each do |question| %>
      <tr>
        <td><%= link_to question.content, family_question_path(current_family, question) %></td>
      </tr>
  <% end %>
  </tbody>
</table>


