<p>
  <strong>Name:</strong>
  <%= @family.name %>
</p>

<p>
  <strong>Friend open:</strong>
  <%= @family.friend_open %>
</p>

<p>
  <strong>General open:</strong>
  <%= @family.general_open %>
</p>

<p>
  <strong>Icon:</strong>
  <%= image_tag @family.icon.thumb.url %>
</p>

<p>
  <strong>Coverimage:</strong>
  <%= image_tag @family.coverimage.thumb.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @family.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @family.title %>
</p>
