<div><%= image_tag @family.icon.thumb.url %></div>
<div><%= image_tag @family.coverimage.thumb.url %></div>
<h2><%= @family.name %></h2>
<div>
  <h3><%= @family.title %></h3>
  <p><%= @family.description %></p>
</div>