<% provide(:title, "HOME") %>
<%# show family information for all users %>
<p id="notice"><%= notice %></p>
<%= render('info') %>
<%= render('follow_form') %>

<%# show family own posts if family visiting own family_page %>
<% if current_family == @family %>
    <nav>
      <ul>
        <li class="bg-lightGreen"><%= link_to 'TL', timeline_family_path(current_family) %></li>
        <li class="bg-lightOrange"><%= link_to 'カレンダー', family_calendar_path(current_family) %></li>
      </ul>
    </nav>
    <%= render('contents') %>
    <%= link_to 'Edit', edit_family_path(@family) %> |
    <%= link_to 'Back', families_path %>

    <br><br>
    <p>機能</p>
    <%= link_to 'アルバム', family_pictures_path(:family_id => @family) %>

<%# show user posts to other users %>
<% else %>
    <%# for all families %>
    <% if @family.general_open %>
        <%= render('contents') %>

    <%# for friend families %>
    <% elsif @family.friend_open %>
        <%= current_family.has_family_relationship?(@family) %>
        <% if user_signed_in? && current_user.has_family? && current_family.has_family_relationship?(@family) %>
            <%= render('contents') %>
            <div id="familyFollowCondition">
              <%= render('follow_form') %>
            </div>
        <% end %>
    <%# in case family don't open to other users %>
    <% else %>
        <% if @family.friend_open %>
            <p>友達限定です</p>
        <% else %>
            <p>公開されていないユーザーです。</p>
        <% end %>
        <p>ホームに戻りましょう！リダイレクトは後で実装</p>
        <%= link_to "Home", root_path %>
    <% end %>
<% end %>
