<%= form_for(@family_post, url: family_posts_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "投稿するテキストを入力できます" %>
    </div>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.hidden_field :family_id, value: current_family.id %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>