<div id="familyPost-<%= family_post.id %>">
  <div class="familyPost-familyName">
    <div>
      <%= link_to image_tag(family_post.family.icon.thumb.url), family_path(family_post.family), class: "familyIcon" %>
    </div>
    <div>
      <%= link_to family_post.family.name, family_path(family_post.family), class: "familyName" %>
      <small><br><%= family_post.created_at.to_s(:datetime) %></small>
    </div>
  </div>
  <div class="familyPost-Content"><%= family_post.content %></div>
  <div class="familyPost-images">
    <% if family_post.family_post_images.present? %>
      <% family_post.family_post_images.each do |i| %>
        <ul>
          <li><%= image_tag i.image.thumb.url %></li>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="familyPost-reactions">
    <div class="familyPostStar">
      <span id="familyPostStar-<%= family_post.id %>">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <% if current_family.family_post_stared?(family_post) %>
            <%= render 'family_post_stars/family_post_unstar' , family_post: family_post %>
        <% else %>
            <%= render 'family_post_stars/family_post_star' , family_post: family_post %>
        <% end %>
      </span>
      <span id="familyPostStarCount-<%= family_post.id %>"><%= family_post.family_post_stars.count %></span>
    </div>
    <div class="familyPostCommentsCount">
      <i class="fa fa-comments" aria-hidden="true"></i>
      <a href="#familyPostComment">コメント</a>
      <% if family_post.has_comment? %>
        <%= family_post.sns_comments_families.count %></p>
      <% end %>
    </div>
    <div>
      <i class="fa fa-share" aria-hidden="true"></i>
      <span>シェア</span>
    </div>
  </div>

  <div id="familyPostComment" class="modal-window">
    <div class="modal-inner">
      <div class="closeIcon">
        <%= link_to(content_tag(:i, '', class: 'fa fa-times fa-2x'), timeline_family_path(current_family)) %>
      </div>
      <% if family_post.has_comment? %>
          <div class="familyPostComments">
              <% family_post.sns_comments.each do |c| %>
                <div><%= c.content %></div>
              <% end %>
          </div>
      <% end %>
      <%= render 'shared/sns_comment_form', family_post: family_post %>
      <%= image_tag("key.png", :class => "keyboard") %>
    </div>
  </div>
  <!-- <div class="familyPost-timestamp">
    Posted <%= time_ago_in_words(family_post.created_at) %> ago.
    <% if current_family == family_post.family %>
      <%= link_to "delete", family_post, method: :delete, data: { confirm: "削除してよろしいですか？" } %>
    <% end %>
  </div> -->
</div>
