<div id="familyPost-<%= family_post.id %>">
  <div class="familyPost-familyName"><%= link_to family_post.family.name, family_path(family_post.family) %></div>
  <div class="familyPost-Content"><%= family_post.content %></div>
  <div class="familyPost-images">
    <% if family_post.family_post_images.present? %>
      <% family_post.family_post_images.each do |i| %>
        <ul>
          <li><%= image_tag i.image.thumb.url %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
  <div class="familyPost-reactions">
    <div class="familyPostStar">
      <div id="familyPostStar-<%= family_post.id %>">
        <% if current_family.family_post_stared?(family_post) %>
            <%= render 'family_post_stars/family_post_unstar' , family_post: family_post %>
        <% else %>
            <%= render 'family_post_stars/family_post_star' , family_post: family_post %>
        <% end %>
      </div>
      <div id="familyPostStarCount-<%= family_post.id %>"><%= family_post.family_post_stars.count %></div>
    </div>

    <div class="familyPostComment">
      <%= render 'shared/sns_comment_form', family_post: family_post %>
      <% if family_post.has_comment? %>
          <div class="familyPostCommentsCount">
              <p>コメント<%= family_post.sns_comments_families.count %>件</p>
          </div>
          <div class="familyPostComments">
              <% family_post.sns_comments.each do |c| %>
                <div><%= c.content %></div>
              <% end %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="familyPost-timestamp">
    Posted <%= time_ago_in_words(family_post.created_at) %> ago.
    <% if current_family == family_post.family %>
      <%= link_to "delete", family_post, method: :delete, data: { confirm: "削除してよろしいですか？" } %>
    <% end %>
  </div>
</div>