<% provide(:title, "アルバム") %>
<p id="notice"><%= notice %></p>

<% unless @family.album.nil? %>
  <% @family.album.pictures.each do |picture| %>
    <tr>
      <!-- <li><%= picture.date %></li> -->
      <li>
        <%= link_to family_picture_path(@family, picture) do %>
          <%= image_tag picture.image.url %>
        <% end %>
      </li>
      <!-- <li><%= link_to 'Show', family_picture_path(@family, picture) %></li>
      <li><%= link_to 'Edit', edit_family_picture_path(@family, picture) %></li>
      <li><%= link_to 'Destroy', family_picture_path(@family, picture), method: :delete, data: { confirm: 'Are you sure?' } %></li> -->
    </tr>
  <% end %>
<% end %>

<%= link_to 'リダイレクト', family_pictures_path(@family) %>
<br>
<%= link_to 'New Picture', new_family_picture_path(@family) %>
<br>
<%= link_to 'Back FamilyPage', family_path(@family) %>
