<% provide(:title, "アルバム") %>

<div class="fontIcon" id="fontIconFa3x">
  <ul>
    <li>
      <%= link_to new_family_picture_path(@family) do %>
        <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
      <% end %>
    </li>
  </ul>
</div>

<% unless @family.album.nil? %>
  <ul class="album">
    <% @family.album.pictures.each do |picture| %>
      <li>
        <%= link_to family_picture_path(@family, picture) do %>
          <%= image_tag picture.image.thumb.url %>
        <% end %>
      </li>
    <% end %>
    <!-- <% @family.album.pictures.each do |picture| %> -->
    <!-- <li><%= picture.date %></li> -->
    <!-- <li><%= link_to 'Show', family_picture_path(@family, picture) %></li> -->
    <!-- <li><%= link_to 'Edit', edit_family_picture_path(@family, picture) %></li> -->
    <!-- <li><%= link_to 'Destroy', family_picture_path(@family, picture), method: :delete, data: { confirm: 'Are you sure?' } %></li> -->
    <!-- <% end %>  -->
  </ul>
<% end %>

<!-- <%= link_to 'リダイレクト', family_pictures_path(@family) %> | -->
<!-- <%= link_to 'New Picture', new_family_picture_path(@family) %> | -->
<!-- <%= link_to 'Back FamilyPage', family_path(@family) %> -->
