<% provide(:title, "アルバム") %>

<div class="fontIcon" id="fontIconFa3x">
  <ul>
    <li>
      <%= link_to new_family_picture_path(@family) do %>
        <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
      <% end %>
    </li>
  </ul>
</div>

<% unless @family.album.nil? %>
  <ul class="album">
    <li>
      <a href="#"><%= image_tag 'cover_01.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_02.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_03.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_04.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_05.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_06.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_07.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_08.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_09.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_10.JPG' %></a>
    </li>
    <li>
      <a href="#"><%= image_tag 'cover_11.JPG' %></a>
    </li>


  </ul>
<% end %>

<!-- <%= link_to 'リダイレクト', family_pictures_path(@family) %> | -->
<!-- <%= link_to 'New Picture', new_family_picture_path(@family) %> | -->
<!-- <%= link_to 'Back FamilyPage', family_path(@family) %> -->
