<footer>
  <% if user_signed_in? && current_user.has_family? %>
    <nav>
      <ul>
        <li>
          <%= link_to family_path(current_family) do %>
            <%= image_tag("footer-02.png") %>
            <p>家族</p>
          <% end %>
        </li>
        <li>
          <%= link_to timeline_family_path(current_family) do %>
            <%= image_tag("footer-01.png") %>
            <p>タイムライン</p>
          <% end %>
        </li>
        <li>
          <%= link_to family_questions_path(current_family) do %>
            <%= image_tag("footer-03.png") %>
            <p>Q&amp;A</p>
          <% end %>
        </li>
        <li>
          <a href="#">
            <%= image_tag("footer-04.png") %>
            <p>通知</p>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag("footer-05.png") %>
            <p>その他</p>
          </a>
        </li>
      </ul>
    </nav>
  <% end %>
</footer>
